.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  gap: 30px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
}
