.facts__cards-card {
  max-width: 350px;
  min-width: 280px;
  text-align: center;
}

.facts__cards-card:hover .facts__cards-card-inner::after,
.facts__cards-card:hover .facts__cards-card-inner::before {
  border-color: red;
  width: 100%;
  height: 100%;
}
